.visualradio-container {
	display:grid;
	grid-gap: 15px;
	grid-template-columns:auto auto auto auto;
}

.visualradio input {
	display: none;
}

.visualradio input + label img {
	border: 3px transparent solid;
}

.visualradio input:checked + label img {
	border: 3px #f47c00 solid;
}
